<div>
  @for (dataItem of data; track data; let index = $index) {
  <div
    class="flex items-center border-[1px] border-neutral-400"
    (click)="showDetails(dataItem)"
  >
    <div class="basis-2/12">
      <img
        [ngStyle]="{ width: '70px', height: 'auto' }"
        src="{{ dataItem?.avatar }}"
        alt=""
      />
    </div>
    <div class="basis-2/12">
      <span class="px-2">{{ dataItem?.prenom }}</span>
      <span class="px-2">{{ dataItem?.nom }}</span>
    </div>
  </div>
  }@empty { There are no CVs }
</div>
